/FOVE VR/obj
/FOVE VR/.plastic
/FOVE VR/.vs
/FOVE VR/Library
/FOVE VR/Logs
/FOVE VR/Build
/VVA VR/Library
/VVA VR/Logs
/VVA Controller/VVA Controller/obj
/VVA Controller/VVA Controller/bin
/VVA Controller/JenksVVA/obj
/VVA Controller/JenksVVA/bin
/VVA Controller/.vs
