/VVA VR/Library
/VVA VR/Logs
/VVA Controller/VVA Controller/obj
/VVA Controller/VVA Controller/bin
/VVA Controller/JenksVVA/obj
/VVA Controller/JenksVVA/bin
/VVA Controller/.vs
/VVA VR/Temp
/VVA VR/.vs
/VVA VR/obj
/VVA Controller/packages
/VVA VR/Build
/Installer/Output
